@font-face {
  font-family: 'Bevan';
  font-style: normal;
  font-weight: 400;
  src: local('Bevan'), url("urn:scrapbook:download:error:http://x.peoples-portal.com/d-vision/oksana/fonts/kZxOvEFDTL6rhtQAWC2LTw.woff") format('woff');
}
