.clearfix {
    *zoom: 1;
}
.clearfix:before, .clearfix:after {
    display: table;
    content: "";
}
.clearfix:after {
    clear: both;
}
body{
    font-family: 'Open Sans';
}
.wrap{
    background: #f5fdff;
    max-width: 961px;
    margin: 0 auto;
    -webkit-box-shadow: 1px 5px 10px #ccc;
    -moz-box-shadow: 1px 5px 10px #ccc;
    box-shadow: 1px 5px 10px #ccc;
    position: relative;
    z-index: 1;
}
.wrap__inner{
    max-width: 961px;
    margin: 0 auto;
    /*padding-left: 42px;*/

}
.wrap__left{
    float: left;
    width: 600px;
}
.wrap__right{
    float: right;
    width: 315px;
    margin: 25px 0 0 0;
}
header{
    max-width: 961px;
    margin: 0 auto;
}
h1{
    font-size: 42px;
    line-height: 51px;
    margin-bottom: 35px;
}
h2{
    font-size: 24px;
    margin: 10px 0 0;
}
h3{
    font-size: 24px;
    text-align: center;
    margin: 20px 0;
}
h4{
    background: #fffffa;
    color: #2ba4b5;
    border-bottom: 1px solid #c5a366;
    padding: 10px 0 10px 15px;
    margin-bottom: 15px;
}
p{
    text-align: justify;
    font-size: 18px;
}
.wrap__inner p{
    line-height: 22px;
}
.img_cont{
    float: left;
}
.img_descr{
    padding-left: 240px;
}
.list{
    float: left;
    width: 50%;
}
li{
    list-style-type: none;
}
.btn{
    font-size: 30px;
    background: #ff4a1c;
    padding: 15px 0;
    text-align: center;
    max-width: 500px;
    width: 100%;
    color: #ffffff;
    display: block;
    margin: 0 auto;
    text-decoration: none;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}
.review__author{
    color: #36c2d5;
    margin-bottom: 7px;
}
.review__cont{
    max-width: 550px;
    margin: 15px auto;
    padding: 15px;
    border: 1px solid #656869;
}
.comment{
    border-bottom: 2px solid #c5a366;
    padding: 0 15px;
    margin-top: 15px;
}
.comment__item{
    margin-bottom: 25px;
}
.comment__item img{
    float: left;
}
.comment__name{
    padding-left: 65px;
    margin-bottom: 5px;
}
.comment__info{
    padding-left: 65px;
}
footer{
    margin: 10px auto 0;
    background: #ffffff;
    max-width: 1003px;
}
.review__info{
    padding-right: 0!important;
}
.head_adapt{
    display: none;
}
ul{
    padding-left: 0;
}
.s1{
    background: url("bgg.png") 0 0 repeat;
    padding: 15px 20px 15px 20px;
    font-size: 25px;
    line-height: 30px!important;

}

@media screen and (max-width: 1000px){

    .wrap__right{
        display: none;
    }
    .wrap__left{
        width: 100%;
    }
    .wrap__inner{
        padding: 0 10px;
    }
    .wrap__inner img{
        margin-left: auto;
        margin-right: auto;
        display: block;
        padding-left: 0 !important;
        width: 100%;
    }
    .wrap__inner p{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .wrap__left{
        padding: 0!important;
    }
    .comment__item img{
        width: auto !important;
    }
    .comment .comment__name, .comment .comment__info{
        padding-left: 50px!important;
    }
    h1{
        text-align: center;
    }


}

@media screen and (max-width: 768px){
    .comment{
        padding: 0;
    }
    .head_adapt{
        display: block;
        margin: 0 auto;
        
    }

    .wrap__inner p{
        padding-right: 0;
    }
    .head_desk{
        display: none;
    }
    .list{
        float: none;
        width: 100%;
    }
    header{
        background: #cde9f4;
    }
    .tac{
        text-align: center;
    }
    .li__name{
        font-size: 20px;
        font-weight: bold;
    }
    h2{
        font-weight: bold;
    }
    h1{
        font-weight: bold;
    }
    h3{
        font-weight: bold;
    }
    .as{
        padding-left: 0 !important;
    }
    h1{
        line-height: normal!important;
    }
}

@media screen and (max-width: 640px){
    .btn{
        font-size: 20px;
        max-width: 350px;
    }
    h1{
        font-size: 30px;

    }
    .img_cont{
        float: none;
        margin: 0 auto 15px;
    }
    .img_descr{
        padding-left: 0 !important;
    }
    .med{
        border-bottom: 2px solid #c5a366;
    }
    .med__name{
        text-align: center;
        margin-bottom: 10px;
        font-weight: bold;
    }
    .hide_640{
        display: none;
    }
}

@media screen and (max-width: 480px){
    .wrap__inner {
        padding: 0 10px;
    }

    li{
        border-bottom: 2px solid #c5a366;
    }
    footer p, footer a img{
        float: none!important;
        margin: 15px auto!important;
        width: auto!important;
        text-align: center !important;
        display: block!important;
    }
    .wrap__inner{
        padding: 0 5px;
    }
    .comment__info, .comment__name{
        padding-left: 55px;
    }
    .head_adapt{
        width: 100%
    }
    .s1{
        font-size: 20px;
        line-height: 25px!important;
    }
}

@media screen and (max-width: 319px){
    h1{
        font-size: 25px;
        line-height: 31px;
    }
}
a{
    color: blue;
}