.clearfix {
    *zoom: 1;
    /*width: 960px;*/
    margin: 0 auto;
}

.clearfix:before, .clearfix:after {
    display: table;
    content: "";
}

.clearfix:after {
    clear: both;
}

body {
    font-family: 'Open Sans';
}

a, a:visited {
    color: blue;
}

.headerr {
    max-width: 961px;
    margin: 0 auto;
}

footer {
    margin: 10px auto 0;
    background: #ffffff;
    max-width: 1003px;
}

.head_adapt {
    display: none;
}

h1 {
    font-size: 40px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    line-height: 0.9;
    text-align: left;
    padding: 30px 30px 10px;

}

.soc {
    margin-left: 30px;
}

.content {
    background-color: white;
    -webkit-box-shadow: inset 0 1px 15px #ccc;
    -moz-box-shadow: inset 0 1px 15px #ccc;
    box-shadow: inset 0 1px 15px #ccc;
    width: 960px;
    margin: 0 auto;
    /*height: 4450px;*/
}

.block {

}

.content p {
    font-size: 18px;
    color: rgb(0, 0, 0);
    line-height: 1.333;
    text-align: justify;
    margin: 20px 30px;
}

.sidebar {
    display: inline-block;
    margin-top: 10px;
    margin-left: 13px;
    vertical-align: top;

}
.author{
    margin-top: 35px !important;
}
.text {
    width: 785px;
    display: inline-block;
}

.btn_zakaz {
    margin: 40px 0 60px;
}

.btn {
    width: 242px;
    background-color: red;
    color: white !important;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 26px;
    /*font-family: "Myriad Pro";*/
    text-decoration: none !important;
    display: block;
    margin: 0 auto;
    text-align: center;

}

.subtitle_block {
    margin: 20px 70px 20px 0;
}

.com_avatar {
    float: left;
    margin: 5px 20px 5px 0;
}

.com_block {
    font-size: 16px;
    margin-right: 30px;
    text-align: justify;

}

.comment {
    margin: 10px 0;
}

.com-name a {
    color: rgb(0, 0, 0) !important;
    font-style: italic;
    line-height: 1.5;
    text-decoration: none !important;
}

.subtitle_left a {
    color: #666666 !important;
    text-decoration: none !important;
    font-size: 21px;
}

.subtitle_right {
    float: right;

}

.fot_1 {
    margin: 35px auto;
    display: block;
}

.fot_2 {
    display: block;
    margin: 15px auto;
}

.subtitle_right a {
    color: #155F84 !important;
    font-size: 21px;
}
.dn_img{
    text-align: center !important;
}

@media screen and (max-width: 1000px) {
    .sidebar {
        display: none;
    }
    .text{
        display: block;
        margin: 0 auto;
    }
    .com_block {

         margin-right: 0px;
    }
    .content, .text{
        width: 95%;
        margin: 0 auto;
    }
    .foot {
        margin: 0 auto!important;
    }
    .clearfix{
        width: 100%;
    }
    .btn_zakaz {
        margin: 20px 0 0;
    }
    .content {
        padding-bottom: 25px;
    }

    .author {
        margin-top: 25px !important;
    }
}
@media screen and (max-width: 815px){
    h1 {
        font-size: 25px;
        padding: 20px 30px 0px;
    }
}

@media screen and (max-width: 768px) {

    .head_adapt {
        display: block;
        margin: 0 auto;
        padding: 20px 0;
    }

    .head_desk {
        display: none;
    }

    .headerr {
        background: #cde9f4;
    }
    .subtitle_block {
        margin: 20px 0px;
    }

}

@media screen and (max-width: 550px) {

}

@media screen and (max-width: 480px) {
    .subtitle_right a{
        font-size: 16px;
    }
    .subtitle_left a{
        font-size: 16px;
    }
    .btn_zakaz {
        margin: 25px 0;
    }
    .soc{
        display: none;
    }
    .content p{
        margin: 15px 7px;
    }
    .com_block {
        margin: 0 5px;
    }
    .subtitle_block span{
        display: block;
        text-align: center;
        float: none !important;
    }
    h1 {
        font-size: 25px;
        padding: 20px 30px 0px 7px;
    }
    .content {
        padding-bottom: 1px;
    }
}

@media screen and (max-width: 319px) {
    .btn {
        width: 167px;
        font-size: 25px;
    }
    .com_avatar {
        margin: 5px 10px 5px 5px;
    }
}
@media screen and (max-width: 240px){

}
